body{
    background: linear-gradient(90deg, #ED008C, #FFF000);
    padding: 0;
    margin: 0;
}

.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 300px;
}

p{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    text-align: center;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    color: #291d1b;
}
input{
    box-sizing:border-box;
    width: 100%;
    font-size: 18px;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    color: #4a4a4a;
    letter-spacing: 0.5px;
    box-shadow: 0 5px 30px rgba(22,89,233,0.4);
}

::placeholder{
    color: #9a9a9a;
    font-weight: 400;
}

span{
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
}

.fa{
    font-size: 20px;
    color: #7a7a7e;
}